body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Light', sans-serif;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-block{
  display: flex;
  flex-direction: column;
  width: 500px;
  row-gap: 20px;
}
.form-block input{
  border: 1px solid #6b6262;
  padding: 12px 15px;
  border-radius: 8px;
}

.btn{
  border: 1px solid #6262ea;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #6262ea;
  color: #fff;
  cursor: pointer;
  transition: all ease .3s;
}
.btn:hover{
  background-color: transparent;
  border: 1px solid #6262ea;
  color: #6262ea;
  transition: all ease .3s;
}
.form-block_link{
  margin: auto;
  color: #6b6262;
  cursor: pointer;
}
.form-block_link span{
  color: #6262ea;
}
.form-block_title{
  margin: auto;
  font-size: 40px;
}
.btn-logout{
  border: 1px solid #b72727;
  background-color: #b72727;
  margin-bottom: 20px;
}
.btn-logout:hover{
  background-color: transparent;
  border: 1px solid #b72727;
  color: #b72727;
  transition: all ease .3s;
}
.block-auth{
  margin: auto;
  text-align: center;
}